:root{
--primary-text-color:#757575;
--title-text-color:#212121;
--secondary-text-color:#fff;
--background-button-color:#2196f3;
--primary-background-color:#fff;
--team-color:#F5F4FA;
--logo-color:#000;
--secondary-background-color:#2F303A;
--port-button-color:#EEEEEE;
}

*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
 margin-bottom: 0 ;
 margin-top: 0 ;

}
 ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 a{
    text-decoration: none ;
    cursor: pointer;
 }
 img{
    display: block;
 }

 .container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }


 body{
    
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
}


.site-list{
    color:var(--title-text-color);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
list-style: none;
display: flex;
}
.header-list-item:not(:last-child){
    margin-right: 50px;
}
.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}
.address-text{
    margin-bottom: 9px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.always-clients{
    height: 372px;
    background-color: var(--primary-background-color);
}
.always-title{
    text-align: center;
    margin-top: 94px ;
    color: #212121;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.background-picture{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    margin-top: 66px;
}
.always-flex{
    display: flex;
    justify-content: space-between;
}


.footer-logo{
    color: var(--primary-background-color);
    margin-bottom: 20px;
    
}
.footer{
    color: var(--primary-background-color);
    
}
.grey{
    color: rgb(200, 200, 200);
    cursor: pointer;
    text-decoration: none;
}
.ggg{
    padding: 20px;
    
}

/*header*/
.header-list-item{
    margin-bottom:34px ;
    margin-top:34px ;
}
header{
    margin:32px ;
}
.contacts-list{
    padding-left: 344px;
    display: flex;
}
.header-mail{
margin-right: 50px ;
}
.header-number{
margin: 0px;
}
.contacts{
    color: var(--title-text-color);
    
}
.contacts:hover{
    color: var(--background-button-color);
}
.ctudiya{
    color: var(--title-text-color);
   
}
.ctudiya:hover{
    color: var(--background-button-color);
}
.portfolio{
    color: var(--title-text-color);
    
}
.portfolio:hover{
    color: var(--background-button-color);
}

header{
    background: var(--primary-background-color);               
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.web{
    color: var(--background-button-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.studio{
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.studio-white{
    color: var(--primary-background-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.post{
    background-color: var(--secondary-background-color);
    padding-top :200px ;
    padding-left:452px ;
    padding-right:452px ;
    padding-bottom: 200px;
    margin-bottom:94px ;
}
.post-title{
    color: var(--primary-background-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.post-button{
    color:var(--primary-background-color) ;
    background-color: var(--background-button-color);
    cursor: pointer;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 50px;
}

.port-div{
    margin-top: 94px;
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
}
.port-class{
    background-color: var(--primary-background-color);
    width: 370px;
    height: 404px;
    margin-right: +30px;
    margin-bottom: 30px;

}
.port-img{
    width:370px ;
}
.port-section{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    
}
.port-name{
   margin-top: 20px ;
    margin-left: 24px;
    margin-bottom: 13px;
}
.port-info{
    margin-left: 24px;
}
/*benefits*/
.benefits-pictures{
    display: flex;
    justify-content: space-between;
   
}


.benefits{
    margin-bottom: 118px;
}
.benefits-list{
    display: flex;
    align-items: flex-start;
}
.benefits-block::before{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-image: url(./img/before-imgs/Vector.png);
    content: '';
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    margin-bottom: 30px;
}
.benefits-block:nth-child(2):before{
    background-image: url(./img/before-imgs/clock\ 1.png);
}
.benefits-block:nth-child(3):before{
    background-image: url(./img/before-imgs/diagram\ 1.png);
}
.benefits-block:nth-child(4):before{
    background-image: url(./img/before-imgs/astronaut\ 1.png);
}
.benefits-block:not(:last-child){
    margin-right: 30px;
}
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.42px;
    
}
.benefits-text{
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 0.42px;
    font-weight: 400;
    line-height: 24px;
}
/*what do we do*/
.activity-list{
    display: flex;
    justify-content: space-between;
}
.activity{
    background-color: var(--primary-background-color);
}
.title{
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    

}

/* OUR TEAM */
.team-list{
    display: flex;
    justify-content: space-between;
}
.team{
    background-color: var(--team-color);
    padding-top: 50px;
    padding-bottom: 94px;
}
.team-card{
    background-color: var(--primary-background-color);
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-card:not(:last-child){
    margin-right: 30px;
}
.team-name{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 10px;
}
.team-position{
    color: var(--primary-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 30px;
}
/*port*/
.port-button{
    background-color: var(--port-button-color);
    cursor: pointer;
    border: none;
    width: 125px;
    height: 38px;
    border-radius: 4px;
    background: #F5F4FA;
    margin-right: 8px;
}
.port-button:hover{
    background-color: var(--background-button-color);
    color: var(--primary-background-color);
}
.port-class{
    background-color: var(--primary-background-color);
    border: 1px solid var(--port-button-color);
}
.port-info{
    color: var(--primary-text-color);
}
.port-name{
    color: var(--title-text-color);
}
li{
    text-decoration: none;
}
.logo{
    font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.title{
    text-align: center;
    margin-bottom: 50px ;
    color: var(--title-text-color);
}
.activity{
    padding-bottom: 94px;
}
.header-mail,
.header-number{
    color: var(--primary-text-color);
}
.header-mailnumber,
.header-number:hover,
.header-mail,
.header-number:focus{
    color: var(--background-button-color);
}






